* {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', 'Lora';
    color: #E6BC78;
    box-sizing: border-box;
}

header {
    background-color: #131313;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
}

header img.black {
    position: absolute;
    height: 60%;
    /* TRANSLATE */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    animation: black 3s ease-out;
}

p {
    word-spacing: 8px;
    color: #E6BC78;
    font-size: 25px;
    position: absolute;
    text-align: center;
    top: 75%;
    left: calc(50% - 150px);
}

header img.little {
    position: absolute;
    top: 83%;
    left: 80%;
    height: 10%;
    animation: krowka 3s linear, jumping 2s 2s infinite;
    transition-duration: 0.5s;
}

header img.little:hover {
    /* NIE DZIALA POWIEKSZENIE IKONY KROWY NA HOVER, dziala powiekszenie tylko przez pierwsze 3s (opoznienie animacji jumping) 
    oraz 2: PRZEJSCIE Z IKONY KROWY DO MENU WOLNIEJ*/
    transform: scale(1.3);
    cursor: pointer;
}

main {
    position: relative;
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #E6BC78;
    z-index: 2;
}

h1 {
    flex-basis: 10vh;
    text-align: center;
    line-height: 20vh;
    font-size: 30px;
    background-color: #E6BC78;
    color:  black;
}
section.gallery {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

section div img {
    width: 100%;
    padding: 10px;
}

footer {
    position: relative;
    width: 100%;
    line-height: 30vh;
}

footer.div {
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    vertical-align: middle;
    background-color: #131313;
    line-height: 30vh;
    z-index: 0;
}

button {
    background-color: yellow;
    color: white;
    border: 5px double #E6BC78;
    height: 60px;
    width: 140px;
    letter-spacing: 1px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.2);
}

button.instagram:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: white;
    transition: all 0.2s ease;
}


@keyframes black {
    0% {
        transform: translate(100%, -70%) rotate(10deg);
        opacity: 0.1;
    }

    25% {
        opacity: 0.15;
    }

    50% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        transform: translate(-50%, -70%) rotate(-360deg);
        opacity: 1;
    }
}

@keyframes krowka {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.15;
    }

    50% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}
@keyframes jumping {
    0% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(0px);
    }

    35% {
        transform: translateY(-5px);
    }

    40% {
        transform: translateY(5px);
    }

    45% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    55% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(5px);
    }

    65% {
        transform: translateY(-5px);
    }

    70% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0);
    }
}
@media (max-width:12000px) {
    section>div {
        flex-basis: 33%;
    }
    ul {
        font-size: 25px;
    }
}
@media (max-width:1200px) {
    section>div {
        flex-basis: 33%;
    }
    ul {
        font-size: 30px;
    }
    
}
@media (max-width:1024px) {
    section>div {
        flex-basis: 33%;
        padding: 25px;
    }
}
@media (max-width:850px) {
    section>div {
        padding: 5px;
        flex-basis: 49%;  
    }
    ul {
        font-size: 25px;
    }
 }
@media (max-width:640px) {
    section>div img {
        padding: 5px; /*NIE DZIALA MNIEJSZY PADDING TYLKO JEST 10PX*/ 
        flex-basis: 49%;
    }
    ul {
        font-size: 15px;
    }
    button {
        border: 3px double #E6BC78;
        height: 50px;
        width: 100px;
    }
 }
@media (max-width:460px) {
    section>div img {
        padding: 5px; /*NIE DZIALA MNIEJSZY PADDING TYLKO JEST 10PX*/ 
        flex-basis: 48%;
    }
    ul {
        font-size: 10px;
    }
    button {
        border: 2px double #E6BC78;
        height: 30px;
        width: 70px;
    }
}
